/* TechFeelingStyles.css */
body {
    background-color: #ffffff;
    color: #292525;
    font-family: Arial, sans-serif;
}

.tech-feeling-timer {
    text-align: center;
    padding: 20px;
    background-color: #282c36;
    color: #00ccff;
    border: 2px solid #00ccff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 204, 255, 0.5);
}

.timer-header {
    font-size: 24px;
    margin: 0;
    color: #00ccff;
}

.timer-message {
    font-size: 18px;
    margin: 10px 0;
    color: #00ccff;
}

.timer-buttons {
    display: flex;
    justify-content: center;
}

.timer-button {
    background-color: #00ccff;
    color: rgb(26, 24, 24);
    /* Gray-blueish color */
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
}

.timer-button.start {
    background-color: #00ccff;
}

.timer-button.stop {
    background-color: #0048ffca;
}

.timer-button.reset {
    background-color: #ae00ff;
}

.timer-button:hover {
    background-color: #ff00ff;
    /* Neon pink on hover */
    color: #fff;
    text-shadow: 0 0 10px #ff00ff, 0 0 20px #ff00ff, 0 0 30px #ff00ff;
}

.tech-feeling-todo-list {
    text-align: center;
    margin-top: 20px;
}

.todo-list-header {
    font-size: 24px;
    color: #00ccff;
}

.tech-feeling-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #282c36;
    border: 2px solid #00ccff;
    color: #00ccff;
}

.tech-feeling-table th,
.tech-feeling-table td {
    border: 2px solid #00ccff;
    padding: 10px;
    color: #00ccff;
}

.tech-feeling-table th {
    background-color: #1f1f1f;
    color: #00ccff;
}

/* Neon text effect */
.neon-text {
    text-shadow: 0 0 10px #00ccff, 0 0 20px #00ccff, 0 0 30px #00ccff, 0 0 40px #00ccff;
    color: transparent;
    animation: flicker 1s linear infinite;
}

@keyframes flicker {

    0%,
    18%,
    22%,
    25%,
    53%,
    57%,
    100% {
        text-shadow: none;
    }

    20%,
    24%,
    55% {
        text-shadow: 0 0 10px #00ccff, 0 0 20px #00ccff, 0 0 30px #00ccff, 0 0 40px #00ccff;
    }
}